*.elc
.DS_Store
archives
archive-contents
.session
auto-save-list/
ensime/
ido.last
*.pyc
url/
network-security.data
transient/
*.db
.cache/
elpa/*-readme.txt
vimish-fold/
recentf
projectile-bookmarks.eld
projectile.cache
/.mc-lists.el
flycheck_*
/.lsp-session-v1
/bookmarks
/workspace/
/eshell/
/pyim/dcache/
.dap-breakpoints
eln-cache/
projects
tramp
add
forge-database.sqlite
elpy/
